//about page

.about {
  display: grid;
}

.about-images {
  @include center-image;
}

.bio-photo {
  width: 225px;
}

.bio-text {
  width: 500px;
}

//contact page

.contact {
  display: grid;
  grid-template-rows: auto 2fr 1fr;
}

.contact-image {
  grid-row-start: 2;
  @include center-image;
}

.contact-small-images {
  grid-row-start: 3;
  padding-top: 10px;
  @include center-image;
}

//home page

.home {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 100px 400px 25px;
  text-align: center;
}

.home-menu-link-grid {
  grid-column-start: 2;
  grid-row-start: 3;
}

.logo {
  grid-column-start: 2;
  grid-row-start: 2;
  justify-self: center;
}

//work nav page and work image page

.work-nav,
.work {
  display: grid;
  grid-template-rows: auto auto;
}

.work-nav-images {
  @include center-image;
  padding-top: 30px;
  width: 300px;
  img {
    @include center-image;
    width: 250px;
  }
}

.work-menu-link-grid {
  grid-row-start: 1;
  @include center-image;
}

//responsive

@media only screen and (max-device-width: 850px) {
  .bio-photo {
    width: 200px;
  }

  .bio-text {
    width: 475px;
  }
}

@media only screen and (max-device-width: 700px) {
  .bio-photo {
    width: 300px;
    @include center-image;
  }

  .bio-text {
    width: 800px;
    @include center-image;
  }
}
